<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Becoming</title>
  <meta name="description" content="Web designer and front-end developer">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.css" rel="stylesheet" type="text/css">
  
<link rel="stylesheet" href="../public/style.css">
<link
href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Tourney:ital,wght@1,400&family=Londrina+Solid:wght@900&family=Rock+Salt&display=swap"
rel="stylesheet">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
  <!-- navbar header -->
  <div class="nav-header">
    <div class="nav-brand" style="display:none" >
      <img src="https://s3-us-west-2.amazonaws.com/parallax-theme/assets/bradlogo2.png">
    </div>
    <i class="fa fa-bars fa-3x"></i>
    <div class="header-links">
      <ul>
        <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li>
        <li data-menuanchor="thirdPage"><a href="#portfolio">LOGIN</a></li>
        <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
      </ul>
    </div>
  </div>
  <!-- end navbar header -->

  <!-- sidebar slider -->
  <div class="nav-screen">
    <i class="fa fa-times fa-3x"></i>
    <div class="nav-container">
      <div class="nav-links">
        <ul id='myMenu'>
          <li data-menuanchor="secondPage"><a href="#about">ABOUT</a></li>
          <li data-menuanchor="thirdPage"><a href="#portfolio">WORK</a></li>
          <li data-menuanchor="fourthPage"><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- end navbar slider -->

  <!-- begin fullpage -->

  <div id="fullpage">

    <!-- begin section -->

    <div class="section aboutme" data-anchor="aboutme">
      <div class="opaque-bg animated fadeInDown">
       
      </div>
      <i id="moveDown" class="fa fa-chevron-down fa-3x bounce"></i>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section" data-anchor="skills">
      <div class="content">
        <!-- <img src="me.png" class="pic" > -->
        <h1 class="wow welcome fadeInDown" data-wow-delay="0.4s">Welcome!</h1>
        <p class="bio" class="wow fadeInDown" data-wow-delay="0.4s" >This is a site where you can try out new pronouns or new names. I created this app because changing your name and/or pronouns can sometimes be a dangerous step to take in your journey. This app is an attempt to try to prevent that for younger queer people. </p>

        <div style="display:none"  class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
          <div class="skillbar clearfix " data-percent="90%">
            <div class="skillbar-title" style="background: #DD1E2F;"><span>HTML5</span></div>
            <div class="skillbar-bar" style="background: #DD1E2F;"></div>
            <div class="skill-bar-percent">90%</div>
          </div> 

          <div style="display:none"  class="skillbar clearfix " data-percent="80%">
            <div class="skillbar-title" style="background: #EBB035;"><span>CSS3</span></div>
            <div class="skillbar-bar" style="background: #EBB035;"></div>
            <div class="skill-bar-percent">80%</div>
          </div> 

          <div style="display:none"  class="skillbar clearfix " data-percent="75%">
            <div class="skillbar-title" style="background: #218559;"><span>Photoshop</span></div>
            <div class="skillbar-bar" style="background: #218559;"></div>
            <div class="skill-bar-percent">75%</div>
          </div> 


          <div style="display:none" class="skillbar clearfix " data-percent="30%">
            <div class="skillbar-title" style="background: #06A2CB;"><span>jQuery</span></div>
            <div class="skillbar-bar" style="background: #06A2CB;"></div>
            <div class="skill-bar-percent">30%</div>
          </div> 

          
        </div>
      </div>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section" data-anchor="projects">
      <div class="content-slide">
        <div class="slide">
          <h1 class="title wow fadeInDown" data-wow-delay="0.2s">SIGNUP</h1>
          <p class="info">Signing up is free - and you'll be able to look at your history of names and/or pronouns. When you enter the name/pronoun you want to try out, you'll see many examples where it is in writing. If you like how it looks, you can save it. If you are in between names (like I once was), and you have loved ones - you can tally up their votes for which name they prefer for you!</p><br>
          <form>
            <input placeholder="username" class="username">
            <input placeholder="password" class="password">
            <button class="but" type="submit">signup</button>

          </form>
        </div>
        <div class="slide">
          <h1 class="title title-2 wow fadeInDown" data-wow-delay="0.2s">LOGIN</h1>
         
          <form>
            <input placeholder="username" class="username">
            <input placeholder="password" class="password">
            <button class="but"  type="submit">login</button>
          </form>
        </div>
        
      </div>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <div class="section" data-anchor="contact">
      <div class="content wow fadeInDown" data-wow-delay="0.2s">
        <h1 class="contact">CONTACT ME</h1>
        <p>If you are using this site and wanna talk about additional features, hit me up! I want to be able to provide a variety of tools for trans people because we deserve it.</p>
        <br>
        <div class="contact-form">

          <div id="form-messages"></div>
          <form id="ajax-contact" method="post" role="form" action="contact.php" data-toggle="validator">
            <div class="form-group has-feedback wow fadeInLeft" data-wow-delay="0.6s">
              <input type="text" class="form-control" id="name" name="name" placeholder="YOUR NAME" data-error="Field can't be blank!" required>
              <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback wow fadeInRight" data-wow-delay="0.8s">
              <input type="email" class="form-control" id="email" name="email" placeholder="EMAIL" data-error="Field can't be blank!" required>
              <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
              <div class="help-block with-errors"></div>
            </div>

            <div class="form-group has-feedback wow fadeInLeft" data-wow-delay="1s">
              <textarea data-minlength="10" class="form-control" id="message" name="message" placeholder="YOUR MESSAGE" data-error="Minimum of 10 characters" required></textarea>
              <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
              <div class="help-block with-errors"></div>
            </div>

            <div class="hidden">
              <input type="text" class="form-control" id="human" name="human" placeholder="">
            </div>
            <div class="wow fadeInUp" data-wow-delay="1s">
              <button type="submit" id="submit" name="submit" class="btn btn-lg">SEND MESSAGE</button>
            </div>
          </form>
          <br>
        </div>
      </div>
    </div>
    <!-- end section -->

    <!-- begin section -->

    <!-- <div class="section fp-auto-height">
      <div class="footer">
        <p>CONNECT WITH ME</p>
        <div class="social-links">
          <span><a href="https://www.linkedin.com/in/rio-acuna-castillo-1a2b5621a/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a></span>
          <span><a target="_blank" href="https://twitter.com/rio_a_castillo" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></span>
          <span><a href="https://github.com/riocastillo" target="_blank"><i class="fa fa-github fa-2x"></i></a></span>
         
        </div>
      </div>
    </div> -->
    <!-- end section -->

  </div>
  <!-- end fullpage -->
</body>
<!-- partial -->
  <script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.7.4/jquery.fullPage.min.js'></script><script  src="../public/script.js"></script>

</body>
</html>
